<div class= "contaniner">
    <form [formGroup]="personForm">
        <div class="title">
            <p>BIENVENIDO</p><br>
        </div>
        <!-- <div class="subtitle">
            <label>Usuario</label>
            <input type="text" pInputText formControlName="user"/>
        </div> -->
        <!-- <div class="subtitle">
            <label>Contraseña</label>
            <p-password [toggleMask]="true" formControlName="password"></p-password>
        </div> -->
        <button (click)="mostrar()">hola</button>
    </form>
</div>
