h1 {
    text-align: center;
    color: #3b82f6;
}
.create {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}
.field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    width: 80%;
    padding-bottom: 3%;
}
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4%;
}

:host ::ng-deep p-dropdown, :host ::ng-deep .p-dropdown {
    width: 100%;
}